#header{
    
}
#bodyid{
    background: #f2ebe9;
}
.header{
    width: 100%;
    height: 50px;
    background:#f2ebe9;
}
#logoidheader
{
    padding-top: 10px;
    padding-left: 5px;
    height:40px;
    width: 150px;
}
#logoheader{
    float: left;
    padding-left: 100px;
}
.joinnowbuttonheader{
    
    float:right;
}
#joinnowbutton{
    margin-top: 5px;
    margin-right: 20px;
    width: 100px;
    height: 40px;
    border:none;
    font-size: 15px;
    color:#535050;

    
    

}

#signinbutton{
    float:right;
    border-radius: 25px;
    margin-right:120px;
    background-color:#f2ebe9;
    width: 110px;
    height: 40px;
    border:#091794 1px solid;
    color: #091794;
 

    margin-top: 5px;
    
}

#signinbutton:hover{
    float:right;
    border-radius:  25px;
    border:#091794 2px solid;
    margin-right:120px;
    background-color:#b7c6f8;
    
    width: 110px;
    height: 40px;
    color: #0073b1;

    
    

    border-color: rgb(1, 13, 24) 5px; 
    margin-top: 5px;

}
.maindivsample{
    margin-bottom:20px;
    margin-top: 20px;
}


.leftsectiobg{
    width:50%;
    margin-top:10px;
    float:right;
   
    background-color:#f2ebe9;
    
}
.rightsectionbg{
    width:50%;
    margin-top:15px;
    padding-top: 10px;
    float:right;
    background-color:#f2ebe9;
    

    
}
.leftsectiondivinner{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    margin-top: 50px;
    
    color:rgba(143, 88, 73, 1);
    font-size: 42px;
    font-weight: 300;
    padding-bottom: 10px;
    padding-left: 100px;
}
#rightimage{
    border-radius: 50%;
    width: 650px; height: 650px;
    float:right;
    margin-top: 15px;
}
.formclass{
    padding-top: 20px;
    background-color:#f2ebe9;
    padding-bottom: 10px;
}
.emailphone{
    height:35px;
    width: 350px;
    border:#000000 1px solid;
    margin-left: 100px;
}
.emailphone:active{
    height:35px;
    width: 350px;
    border:#0073b1 2px solid;
    margin-left: 100px;
}
.password{
    margin-top: 2px;
    height:35px;
    width: 350px;
    border:#000000 1px solid;
    margin-left: 100px;

}
.password:active{
    
    height:35px;
    width: 350px;
    border:#0073b1 2px solid;
    margin-left: 100px;
    
}
.forgotlink{
    line-height: 1.5;
    font-weight: 400;
    margin-left: 100px;
    color:#000000;

}
.forgotlink:hover{
    margin-left: 100px;
    color:#0073b1;

}
.buttonsignin{
    margin-top: 20px;
    margin-left: 100px;
    border-radius: 28px;
    background-color: #0073b1;
    color:#ffffff;
    height:50px;
    width: 350px;
    font-weight: bold;
    font-size: 14px;

    
}
.buttonsignin:hover{
    margin-top: 20px;
    margin-left: 100px;
    border-radius: 28px;
    background-color: #095ea3;
    color:#ffffff;
    height:50px;
    width: 350px;
    font-weight: bold;
    font-size: 14px;

}
.googlelogoimage{
    width:20px;
    height:20px;
    padding-top: 3px;
    
}
.buttonsigningoogle{
    margin-top: 20px;
    padding-bottom: 5px;
    font-weight:10px;
    font-size: 14px;

    margin-left: 100px;
    border-radius: 28px;
    background-color:#f2ebe9;
    color:#838383;
    height:50px;
    width: 350px;
}
.buttonsigningoogle:hover{
    margin-top: 20px;
    padding-bottom: 5px;
    font-weight:10px;
    font-size: 14px;

    margin-left: 100px;
    border-radius: 28px;
    background-color: #c7c7c7;
    color:#5c5c5c;
    height:50px;
    width: 350px;
}


/* ==================Under works ========================= */

#under{
    
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;

    overflow: auto;  
    width: 100%;
    height:800px;
    margin-top: 50px;
    padding-top:25px;
    
    
    
    background-color: #f2ebe9;
}
.under1{
    
    float:left;
    width:100%;
    margin-top: 10px;
    background-color: #f2ebe9;
    margin-right: 30px;
}
.under1left{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 1.25;
    color: rgba(0,0,0,0.9);
    padding-left: 100px;

    height: 350px;

    padding-top:5px;
    
    float:left;
    width:43.3%;
    background-color: #f2ebe9;
}
.under1right{
    height: 350px;
    width:50%;
    float:right;
    background-color: #f2ebe9;
    
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.25;
    color: rgba(0, 0, 0, 0.6);
}
.buttontopics{
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 600;
    color: rgba(0,0,0,0.6);
    align-items: center;
   
    
}
#buttontopicsfirst{
    background-color:#ffffff;
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 600;
    color: rgba(0,0,0,0.6);
    align-items: center;
    
    border-radius: 25px;
    border:none;
}
#buttontopicsfirst:hover{
    background-color:#eeeded;
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 600;
    color: rgba(0,0,0,0.6);
    align-items: center;
    text-decoration: underline;
    border-radius: 25px;
    border:none;
}
.otherbuttontopics{
   
    background-color:#eeeded;
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 600;
    color: rgba(117, 114, 114, 0.6);
    align-items: center;
    margin: 5px;
    border-radius: 25px;
    border:none;

}
.otherbuttontopics:hover{
    
    background-color:#d3d3d3;
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 600;
    color: rgba(0,0,0,0.6);
    align-items: center;
    margin: 5px;
    border-radius: 25px;
    border:none;
    text-decoration: underline;

}

/*=============================================*/

.under2{
    
    float:left;
    width:100%;
    margin-top: 10px;
    background-color: #f2ebe9;
    margin-right: 30px;
}
.under2left{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 1.25;
    color: rgba(0,0,0,0.9);
    padding-left: 100px;

    height: 350px;

    padding-top:5px;
    
    float:left;
    width:43.3%;
    background-color: #f2ebe9;
}
.under2right{
    height: 350px;
    width:50%;
    float:right;
    background-color: #f2ebe9;
    
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.25;
    color: rgba(0, 0, 0, 0.6);
}